<!DOCTYPE html>
<html>
<head>
    <title>Create Form</title>
</head>
<body>
    <h1>Create Form</h1>
    <form action="/form/create" method="post">
        Spouse 1 ID: <input type="text" name="spouse1id"><br>
        Spouse 2 ID: <input type="text" name="spouse2id"><br>
        Lawyer Primary ID: <input type="text" name="lawyerPrimaryid"><br>
        Lawyer Secondary ID: <input type="text" name="lawyerSecondaryid"><br>
        Notary ID: <input type="text" name="notaryid"><br>
        <input type="submit" value="Create">
    </form>
</body>
</html>
