<!DOCTYPE html>
<html>
<head>
    <title>Update Form</title>
</head>
<body>
<form action="/forms/update/{{ form.id }}" method="post">
    Spouse 1 ID: <input type="text" name="spouse1id" value="{{ form.spouse1id }}"><br>
    Spouse 2 ID: <input type="text" name="spouse2id" value="{{ form.spouse2id }}"><br>
    Secondary Lawyer ID: <input type="text" name="lawyerSecondaryid" value="{{ form.lawyerSecondaryid }}"><br>
    Notary ID: <input type="text" name="notaryid" value="{{ form.notaryid }}"><br>
    <input type="submit" value="Update">
</form>
</body>
</html>
